@import '../../theme/variables';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: $header-height;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $swatch03;
  border-bottom: 1px solid $swatch01;
}

$selected-size: 2px;

.element {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: $selected-size;
  cursor: pointer;
}

.selected {
  border-bottom: $selected-size solid $swatch02;
  padding-bottom: 0;
}
