.movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.buttons {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  composes: button-default from 'sass!../../theme/base.scss';
}
