@import './variables';

.button-default {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  margin: 0 1rem;
  border: 1px solid $swatch02;
  background: $swatch03;
  min-width: 70px;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}
