@import "../../variables";

.movie {
  border: 1px solid $swatch01;
  display: inline-block;
  margin: 1rem;
  padding: 1rem;
  width: 240px;
  float: left;
  text-align: center;
}
.title {
  font-weight: 400;
  padding: 1rem 0 0.5rem;
}
.image {
  height: 270px;
}
.scores {
  padding: 0.25rem;
}
.icon {
  background: url('https://s3.amazonaws.com/dylants-watchlist/public/images/movie_icons_sprite.png') no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: text-bottom;
}
.certified {
  composes: icon;
  background-position: -160px -128px;
}
.fresh {
  composes: icon;
  background-position: -64px -128px;
}
.rotten {
  composes: icon;
  background-position: -96px -128px;
}
.popcorn {
  composes: icon;
  background-position: -32px -128px;
}
.spilled {
  composes: icon;
  background-position: -128px -128px;
}
.score {
  padding: 0 2px;
}
.attributes {
  font-size: 14px;
}
.attribute {
  padding: 0 3px;
}
.buttons {
  text-align: center;
  margin-top: 0.75rem;
}
.button {
  composes: button-default button-with-hover from '../../base.scss';
}
