@import '../../theme/variables';

.movie {
  border: 1px solid $swatch01;
  margin: 0 20px 20px;
  padding: 20px;
  width: 340px;
  text-align: center;
}

.image {
  height: 300px;
  margin-bottom: 20px;
}

.title {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.scores {
  padding-bottom: 10px;
}

.icon {
  background: url('https://s3.amazonaws.com/dylants-watchlist/public/images/movie_icons_sprite.png') no-repeat;
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: text-bottom;
}

.certified {
  composes: icon;
  background-position: -160px -128px;
}

.fresh {
  composes: icon;
  background-position: -64px -128px;
}

.rotten {
  composes: icon;
  background-position: -96px -128px;
}

.popcorn {
  composes: icon;
  background-position: -32px -128px;
}

.spilled {
  composes: icon;
  background-position: -128px -128px;
}

.score {
  font-size: 16px;
  padding: 0 2px;
}

.attributes {
  font-size: 14px;
  margin-bottom: 15px;
}

.attribute {
  padding: 0 3px;
}

.synopsis {
  margin-bottom: 20px;
}

.synopsisContentWrapper {
  max-height: 30px;
  overflow-y: hidden;
  transition: max-height 500ms ease-in-out;
}

.showMore {
  max-height: 1000px;
}

.synopsisContent {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
}

.synopsisMore {
  padding-top: 7px;
  font-weight: 300;
  font-size: 14px;
  color: $swatch04;
  max-height: 1000px;
  transition: max-height 50ms ease-in-out, opacity 50ms ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.hideMore {
  opacity: 0;
  max-height: 0;
}

.buttons {
  text-align: center;
}

.button {
  composes: button-default from 'sass!../../theme/buttons.scss';
}
